# General Code Style & Formatting
- Use English for all code and documentation.
- Always declare the type of each variable and function (parameters and return value).
- Avoid using any.
- Create necessary types.
- Use JSDoc to document public classes and methods.
- Don't leave blank lines within a function.
- One export per file.

# Naming Conventions
- Use PascalCase for classes.
- Use camelCase for variables, functions, and methods.
- Use kebab-case for file and directory names.
- Use UPPERCASE for environment variables.
- Avoid magic numbers and define constants.

# Functions & Logic
- Keep functions short and single-purpose (<20 lines).
- Avoid deeply nested blocks by:
- Using early returns.
- Extracting logic into utility functions.
- Use higher-order functions (map, filter, reduce) to simplify logic.
- Use arrow functions for simple cases (<3 instructions), named functions otherwise.
- Use default parameter values instead of null/undefined checks.
- Use RO-RO (Receive Object, Return Object) for passing and returning multiple parameters.

# Data Handling
- Avoid excessive use of primitive types; encapsulate data in composite types.
- Avoid placing validation inside functions—use classes with internal validation instead.
- Prefer immutability for data:
- Use readonly for immutable properties.
- Use as const for literals that never change.

# Svelte Specific
- This project uses Svelte 5, Typescript, SvelteKit and TailwindCSS.
- When creating styles use tailwind for all common styles, but create vanilla css for unique styles and custom colors.
- Every Svelte component must be in runes mode.
- In Svelte 5 event attributes do not use : in their syntax anymore. For example in Svelte 5 the click event is written as onclick instead of on:click.
- Use $props() to access props.

# Phaser
- This project uses Phaser 3.
- This project uses planck as a physics engine.

# General
- Do not run the app, the user will always do it.